<% content_for :title, "Articles (#{@articles.total_count})" %>

<p style="color: green"><%= notice %></p>

<h1>Articles (<%= @articles.total_count %>)</h1>

<%= link_to "New article", new_article_path, class: "btn btn-primary mb-3" %>

<div class="row mb-2" id="articles">
  <%= render "articles/list", articles: @articles %>
</div>

<div class="text-center">
  <%= link_to_next_page @articles,
                        "Load more (#{remaining_objects(@articles)} articles)",
                        remote: true,
                        class: "btn btn-primary d-inline-block mx-auto",
                        id: "js-next-page" %>
</div>
