<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @article %>">
  <h1><%= @article.title %></h1>
  <h2><%= @article.author %></h2>

  <div class="actions">
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-warning" %>
    <%= link_to "Destroy this article", @article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <%= image_tag @article.illustration, alt: @article.title, class: "img-fluid" if @article.illustration.attached? %>
    </div>
    <div class="col-md-6">
      <div class="article__content">
        <%= @article.content %>
      </div>
    </div>
  </div>
</div>
